.App {
  display: flex;
  flex-direction: column;
  padding: 0px 48px 48px 48px;
}

.list-wrapper {
  width: 860px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 0 auto;
}

.error {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 0 auto;
  color: red;
}