@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

:root {
  --cloud-grey: #f3f7f9;
  --dark-grey: #b0b0b0;
  --green: #56b586;
  --orange: #fd6542;
  --white: #ffffff;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--cloud-grey);
}

h1 {
  font-size: 48px;
  font-weight: 300;
}

h3 {
  font-size: 24px;
  font-weight: 400;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
